In [26]:
import yfinance as yf
import pandas as pd
import numpy as np

pfe = yf.Ticker("PFE")
pfe.info

{'address1': '66 Hudson Boulevard East',
 'city': 'New York',
 'state': 'NY',
 'zip': '10001-2192',
 'country': 'United States',
 'phone': '212 733 2323',
 'website': 'https://www.pfizer.com',
 'industry': 'Drug Manufacturers - General',
 'industryKey': 'drug-manufacturers-general',
 'industryDisp': 'Drug Manufacturers - General',
 'sector': 'Healthcare',
 'sectorKey': 'healthcare',
 'sectorDisp': 'Healthcare',
 'longBusinessSummary': "Pfizer Inc. discovers, develops, manufactures, markets, distributes, and sells biopharmaceutical products worldwide. It offers medicines and vaccines in various therapeutic areas, including cardiovascular metabolic, migraine, and women's health under the Eliquis, Nurtec ODT/Vydura, and the Premarin family brands; infectious diseases with unmet medical needs under the Prevnar family, Nimenrix, FSME/IMMUN-TicoVac, and Trumenba brands; and COVID-19 prevention and treatment, and potential future mRNA and antiviral products under the Comirnaty and Paxlovid brands. The company also provides medicines and vaccines in various therapeutic areas, such as biosimilars for chronic immune and inflammatory diseases under the Xeljanz, Enbrel, Inflectra, Eucrisa/Staquis, and Cibinqo brands; amyloidosis, hemophilia, endocrine diseases, and sickle cell disease under the Vyndaqel family, Oxbryta, BeneFIX, and Genotropin brands; sterile injectable and anti-infective medicines under the Sulperazon, Medrol, Zavicefta, Zithromax, Vfend, and Panzyga brands; and biologics, small molecules, immunotherapies, and biosimilars under the Ibrance, Xtandi, Inlyta, Retacrit, Lorbrena, and Braftovi brands. In addition, the company is involved in the contract manufacturing business. It serves wholesalers, retailers, hospitals, clinics, government agencies, pharmacies, individual provider offices, retail pharmacies, and integrated delivery systems, as well as disease control and prevention centers. The company has collaboration agreements with Bristol-Myers Squibb Company; Astellas Pharma US, Inc.; Myovant Sciences Ltd.; Merck KGaA; Valneva SE; BioNTech SE; and Arvinas, Inc., as well as strategic partnership with CSPC Pharmaceutical Group Limited to launch a local brand of the COVID-19 oral therapeutic treatment Nirmatrelvir/Ritonavir in China, and a collaboration with Carrick Therapeutics Limited. Pfizer Inc. was founded in 1849 and is headquartered in New York, New York.",
 'fullTimeEmployees': 83000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Dr. Albert  Bourla D.V.M., DVM, Ph.D.',
   'age': 60,
   'title': 'Chairman of the Board & CEO',
   'yearBorn': 1962,
   'fiscalYear': 2022,
   'totalPay': 11721071,
   'exercisedValue': 0,
   'unexercisedValue': 16848308},
  {'maxAge': 1,
   'name': 'Mr. David M. Denton',
   'age': 57,
   'title': 'Chief Financial Officer & Executive VP',
   'yearBorn': 1965,
   'fiscalYear': 2022,
   'totalPay': 18194138,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Mikael  Dolsten M.D., Ph.D.',
   'age': 64,
   'title': 'Chief Scientific Officer and President of Research & Development',
   'yearBorn': 1958,
   'fiscalYear': 2022,
   'totalPay': 5815754,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Angela  Hwang',
   'age': 56,
   'title': 'Chief Commercial Officer & President of Global Biopharmaceuticals Business',
   'yearBorn': 1966,
   'fiscalYear': 2022,
   'totalPay': 4886375,
   'exercisedValue': 7704440,
   'unexercisedValue': 6129418},
  {'maxAge': 1,
   'name': 'Ms. Jennifer B. Damico',
   'age': 54,
   'title': 'Senior VP, Controller & Principal Accounting Officer',
   'yearBorn': 1968,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Lidia L. Fonseca',
   'age': 53,
   'title': 'Executive VP and Chief Digital & Technology Officer',
   'yearBorn': 1969,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher J. Stevo CFA',
   'title': 'Senior VP & Chief Investor Relations Officer',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Douglas M. Lankler',
   'age': 56,
   'title': 'Executive VP & General Counsel',
   'yearBorn': 1966,
   'fiscalYear': 2022,
   'totalPay': 3778726,
   'exercisedValue': 1851947,
   'unexercisedValue': 17962228},
  {'maxAge': 1,
   'name': 'Mr. Rady A. Johnson',
   'age': 60,
   'title': 'Executive VP and Chief Compliance, Quality & Risk Officer',
   'yearBorn': 1962,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Andreas J. Panayiotou',
   'title': 'Global Chief Marketing Officer',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 10,
 'boardRisk': 5,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 1,
 'overallRisk': 5,
 'governanceEpochDate': 1696118400,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 33.2,
 'open': 33.08,
 'dayLow': 33.01,
 'dayHigh': 33.4,
 'regularMarketPreviousClose': 33.2,
 'regularMarketOpen': 33.08,
 'regularMarketDayLow': 33.01,
 'regularMarketDayHigh': 33.4,
 'dividendRate': 1.64,
 'dividendYield': 0.0494,
 'exDividendDate': 1699401600,
 'payoutRatio': 0.4309,
 'fiveYearAvgDividendYield': 3.71,
 'beta': 0.569,
 'trailingPE': 8.821808,
 'forwardPE': 10.112804,
 'volume': 18780929,
 'regularMarketVolume': 18780929,
 'averageVolume': 24740481,
 'averageVolume10days': 28493870,
 'averageDailyVolume10Day': 28493870,
 'bid': 33.16,
 'ask': 33.14,
 'bidSize': 2900,
 'askSize': 1200,
 'marketCap': 187276492800,
 'fiftyTwoWeekLow': 31.77,
 'fiftyTwoWeekHigh': 54.93,
 'priceToSalesTrailing12Months': 2.4027367,
 'fiftyDayAverage': 34.7538,
 'twoHundredDayAverage': 39.39725,
 'trailingAnnualDividendRate': 1.62,
 'trailingAnnualDividendYield': 0.04879518,
 'currency': 'USD',
 'enterpriseValue': 208608854016,
 'profitMargins': 0.2755,
 'floatShares': 5640708828,
 'sharesOutstanding': 5645960192,
 'sharesShort': 49946188,
 'sharesShortPriorMonth': 52394065,
 'sharesShortPreviousMonthDate': 1692057600,
 'dateShortInterest': 1694736000,
 'sharesPercentSharesOut': 0.0088,
 'heldPercentInsiders': 0.0004,
 'heldPercentInstitutions': 0.70767,
 'shortRatio': 2.06,
 'shortPercentOfFloat': 0.0088,
 'impliedSharesOutstanding': 5645960192,
 'bookValue': 17.541,
 'priceToBook': 1.8909981,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1688256000,
 'earningsQuarterlyGrowth': -0.765,
 'netIncomeToCommon': 21493999616,
 'trailingEps': 3.76,
 'forwardEps': 3.28,
 'pegRatio': -0.69,
 'lastSplitFactor': '1054:1000',
 'lastSplitDate': 1605571200,
 'enterpriseToRevenue': 2.676,
 'enterpriseToEbitda': 6.714,
 '52WeekChange': -0.20801526,
 'SandP52WeekChange': 0.20809507,
 'lastDividendValue': 0.41,
 'lastDividendDate': 1690416000,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'PFE',
 'underlyingSymbol': 'PFE',
 'shortName': 'Pfizer, Inc.',
 'longName': 'Pfizer Inc.',
 'firstTradeDateEpochUtc': 76253400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '72e0dcbd-2b61-3bbf-a98a-8b2df7c4850c',
 'messageBoardId': 'finmb_162270',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 33.17,
 'targetHighPrice': 75.0,
 'targetLowPrice': 32.0,
 'targetMeanPrice': 44.1,
 'targetMedianPrice': 41.0,
 'recommendationMean': 2.5,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 21,
 'totalCash': 44785000448,
 'totalCashPerShare': 7.932,
 'ebitda': 31071000576,
 'totalDebt': 65673998336,
 'quickRatio': 1.68,
 'currentRatio': 2.117,
 'totalRevenue': 77942996992,
 'debtToEquity': 66.142,
 'revenuePerShare': 13.855,
 'returnOnAssets': 0.07628,
 'returnOnEquity': 0.23068,
 'grossProfits': 66233000000,
 'freeCashflow': 12352374784,
 'operatingCashflow': 14560000000,
 'earningsGrowth': -0.764,
 'revenueGrowth': -0.541,
 'grossMargins': 0.6982,
 'ebitdaMargins': 0.39863998,
 'operatingMargins': 0.20865,
 'financialCurrency': 'USD',
 'trailingPegRatio': None}

In [27]:
tickers = ["PFE", "MSFT", "AAPL", "GOOG", "AMZN"]
import matplotlib.pyplot as plt
data = yf.download(tickers, start="2023-10-05", end="2023-10-10")
data.head(2)

[*********************100%%**********************]  5 of 5 completed

             Adj Close                                                 \
                  AAPL        AMZN        GOOG        MSFT        PFE
Date
2023-10-05  174.910004  125.959999  135.990005  319.359985  33.470001
2023-10-06  177.490005  127.959999  138.729996  327.260010  33.130001

                 Close                                                 ...  \
                  AAPL        AMZN        GOOG        MSFT        PFE  ...
Date                                                                   ...
2023-10-05  174.910004  125.959999  135.990005  319.359985  33.470001  ...
2023-10-06  177.490005  127.959999  138.729996  327.260010  33.130001  ...

                  Open                                                 \
                  AAPL        AMZN        GOOG        MSFT        PFE
Date
2023-10-05  173.789993  126.709999  136.130005  319.089996  33.450001
2023-10-06  173.800003  124.160004  134.940002  316.549988  33.520000

              Volume
                AAPL      AMZN      GOOG      MSFT       PFE
Date
2023-10-05  48527900  39660600  15922900  16965600  21279400
2023-10-06  57224100  46795900  20819300  25645500  23750600

[2 rows x 30 columns]

In [28]:
amazon = yf.Ticker("AMZN")
hist = amazon.history(period="1mo")
hist['Date'] = hist.index
hist= hist.reset_index(drop=True)
hist.head(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
0,138.750000,143.619995,138.639999,143.100006,56764500,0.0,0.0,2023-09-11 00:00:00-04:00
1,142.320007,143.000000,140.610001,141.229996,42668500,0.0,0.0,2023-09-12 00:00:00-04:00

In [29]:
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

CODER_REDSHIFT_HOST = os.environ.get('CODER_REDSHIFT_HOST')
CODER_REDSHIFT_DB = os.environ.get('CODER_REDSHIFT_DB')
CODER_REDSHIFT_USER = os.environ.get('CODER_REDSHIFT_USER')
CODER_REDSHIFT_PASS = os.environ.get('CODER_REDSHIFT_PASS')
CODER_REDSHIFT_PORT = os.environ.get('CODER_REDSHIFT_PORT')

try:
    conn = psycopg2.connect(
        host=CODER_REDSHIFT_HOST,
        dbname=CODER_REDSHIFT_DB,
        user=CODER_REDSHIFT_USER,
        password=CODER_REDSHIFT_PASS,
        port=CODER_REDSHIFT_PORT,

    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [42]:
hist.dtypes
hist['Date'] = hist['Date'].astype('datetime64[ns]')
hist.dtypes

Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                   int64
Dividends              float64
Stock Splits           float64
Date            datetime64[ns]
dtype: object

In [53]:
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    print(dtypes)
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'float64': 'FLOAT','float64': 'FLOAT','float64': 'FLOAT','float64': 'FLOAT', 'int64': 'INT', 'float64': 'FLOAT', 'float64': 'FLOAT', 'datetime64[ns]': 'TIMESTAMP'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]

    print(column_defs)
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    print(table_schema)
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [54]:
cargar_en_redshift(conn=conn, table_name='amazon_over_time', dataframe=hist)

Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                   int64
Dividends              float64
Stock Splits           float64
Date            datetime64[ns]
dtype: object
['Open FLOAT', 'High FLOAT', 'Low FLOAT', 'Close FLOAT', 'Volume INT', 'Dividends FLOAT', 'Stock Splits FLOAT', 'Date TIMESTAMP']

SyntaxError: syntax error at or near "Open"
LINE 3:             Open FLOAT, High FLOAT, Low FLOAT, Close FLOAT, ...
                    ^